* {

    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;
  
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
   
  
  body {
  
    background: #0f0f0f;
  
    color: #ffffff;
  
  }
  
   
  
  /* NAVBAR */
  
  .navbar {
  
    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    padding: 20px 80px;
  
  }
  
   
  
  .navbar ul {
  
    list-style: none;
  
    display: flex;
  
    gap: 30px;
  
  }
  
   
  
  .navbar a {
  
    color: #fff;
  
    text-decoration: none;
  
    font-size: 16px;
  
  }
  
   
  
  .logo {
  
    font-weight: bold;
  
  }
  
   
  
  /* HERO SECTION */
  
  .hero {
  
    min-height: 90vh;
  
    display: flex;
  
    align-items: center;
  
    justify-content: space-between;
  
    padding: 0 80px;
  
  }
  
   
  
  .hero-text {
    line-height: 1.2;
    max-width: 550px;
  
  }
  
   
  
  .hero-text h1 {
  
    font-size: 56px;
  
    margin-bottom: 10px;
  
  }
  
   
  
  .hero-text h1 span {
  
    color: #4da6ff;
  
  }
  
   
  
  .hero-text h2 {
  
    font-size: 24px;
  
    margin-bottom: 20px;
  
    font-weight: 400;
  
  }
  
   
  
  .hero-text p {
  
    font-size: 16px;
  
    line-height: 1.6;
  
    margin-bottom: 30px;
  
    color: #cfcfcf;
  
  }
  
   
  
  .buttons {
  
    display: flex;
  
    gap: 15px;
  
  }
  
   
  
  .btn {
  
    padding: 12px 28px;
  
    text-decoration: none;
  
    border-radius: 6px;
  
    font-size: 16px;
  
  }
  
   
  
  .primary {
  
    background: #4da6ff;
  
    color: #000;
  
  }
  
   
  
  .secondary {
  
    border: 1px solid #4da6ff;
  
   
  
   color: #4da6ff;
  
  }
  
   
  
  /* IMAGE */
  
  .hero-image img {
  
    width: 300px;
  
    border-radius: 20px;
  
  }

  @media (max-width: 768px) {

    .hero {
  
      flex-direction: column;
  
      text-align: center;
  
    }
  
   
  
    .hero-image img {
  
      width: 220px;
  
      margin-top: 30px;
  
    }
  
   
  
    .navbar {
  
      padding:
  
   20px;
  
    }
  
  }

  .tagline {
      font-size: 14px;
      color: #9a9a9a;
      margin-top: -15px;
  }
    
  .btn:hover {
      opacity: 0.85;
      transform: translateY(-2px);
      transition: 0.2s ease;
  }

