* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Arial, sans-serif;

}



.navbar {

  position: fixed;

  top: 0;

  width: 100%;

  padding: 15px 40px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  background: rgba(0, 0, 0, 0.3);

  color: white;

  z-index: 1000;

}



.logo {

   font-size: 1.2rem;

  font-weight: bold;
}



.nav-links {

  list-style: none;

  display: flex;

  gap: 20px;

}



.nav-links a {

  color: white;

  text-decoration: none;

  font-weight: 500;

}



.hero {

    height: 90vh;

    background: linear-gradient(135deg, #4f46e5, #024810);

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;



}

.hero-content h1 {

  font-size: 3rem;

  margin-bottom: 1rem;

}



.hero-content p {

  font-size: 1.2rem;

  margin-bottom: 2rem;

}



.btn {

  text-decoration: none;

  background: white;

  color: #4f46e5;

  padding: 12px 24px;

  border-radius: 25px;

  font-weight: bold;

}




.section {

  padding: 80px 20px;

  text-align: center;

}



.section h2 {

  font-size: 2rem;

  margin-bottom: 1rem;

}



.section p {

  max-width: 600px;

  margin: auto;

  line-height: 1.6;

}