:root {
    --primary-color: black;
    --secondary-color: #00ff88;
    --accent-color: #1a1a1a;

    --primary-text: white;
    --secondary-text: black;

    --muted-text: #777777;
}
.dark {
    --primary-color: #ffffff;
    --secondary-color: #00ff88;
    --accent-color: #ffffff;

    --primary-text: black;
    --secondary-text: white;

    --muted-text: #777777;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("./assets/cursor.png"), auto;
    background-image: url("./assets/snowGif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}

.main-content {
    animation: opacityFades 2.3s forwards;
}

.loading {
    animation: hideLoading 2.3s forwards;
}

.hero-text {
    opacity: 0;
    animation: opacityFades 2.3s ease-in-out forwards;
}

@keyframes hideLoading {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes opacityFades {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    animation: navAnimation 2.5s ease forwards;
}

@keyframes navAnimation {
    0% {
        transform: translateX(-50%) translateY(-100px);
        opacity: 0;
    }

    60% {
        transform: translateX(-50%) translateY(10px);
        opacity: 1;
    }

    80% {
        transform: translateX(-50%) translateY(-5px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.outline-text {
    color: transparent;
    -webkit-text-stroke: 2px var(--primary-text);
    transition:
        color 0.5s ease,
        -webkit-text-stroke 0.3s ease;
    cursor: pointer;
    animation: glow 3s ease-in-out forwards;
}

.outline-text:hover {
    color: var(--secondary-color);
    -webkit-text-stroke: 0px;
}

.outline-text:hover .line {
    opacity: 0;
    animation: none;
}

.line {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}
.outline-text span {
    animation: showLine 1s ease-in-out forwards;
}

.outline-text.title {
    animation: glow 3s ease-in-out infinite;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px var(--secondary-color);
    }
    30% {
        text-shadow:
            0 0 20px var(--secondary-color),
            0 0 30px var(--secondary-color);
    }
    70% {
        text-shadow: 0 0 5px var(--secondary-color);
    }
    100% {
        text-shadow: none;
    }
}
@keyframes showLine {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes removeLine {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadesToLeft {
    0% {
        transform: translate(-150px, -50%) rotate(0deg);
        opacity: 0;
    }

    40% {
        transform: translate(0, -50%) rotate(0deg);
        opacity: 1;
    }

    65% {
        transform: translate(0, -50%) rotate(-360deg);
    }

    100% {
        transform: translate(-45%, -50%) rotate(-270deg);
    }
}

.main-content .github {
    animation: fadesToLeft 2.5s ease-in-out forwards;
}

.hero button:hover {
    animation: hoverButton 2s ease-in-out forwards;
}

@keyframes hoverButton {
    0% {
        rotate: 10deg;
    }
    20% {
        rotate: -10deg;
    }
    40% {
        rotate: 10deg;
    }
    60% {
        rotate: -10deg;
    }
    80% {
        rotate: 5deg;
    }
    100% {
        rotate: 0deg;
    }
}
#contact,
#about,
#project {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s ease-out;
}

#contact.show,
#about.show,
#project.show {
    transform: translateY(0);
    opacity: 1;
}

.left-footer,
.right-footer {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s ease-out 0.3s;
}

.left-footer.show,
.right-footer.show {
    transform: translateY(0);
    opacity: 1;
}

.tooltip:hover .tooltip-text {
    opacity: 1;
}

.github:hover .tooltip-github {
    display: flex;
}
