* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8fafc; 
    font-family: 'Inter', sans-serif;
    color: #1e293b;
    line-height: 1.5;
}


.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    z-index: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #0f172a;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #64748b;
    font-size: 0.875rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #4f46e5; 
}


.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.hero-content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.hero-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}


.text-side {
    flex: 3;
    
}

.intro {
    
        font-size: 3rem;
        font-weight: 600;
        color: #64748b;
        margin-top: 5rem;
        margin-bottom: 3rem;
    
}

.name {
    font-size: 4rem; 
    font-weight: 800;
    line-height: 1.1;
    color: #0f172a;
    margin-bottom: 1.5rem;
}

.highlight {
    color: #4f46e5; 
}

.description-container p {
    font-size: 1.125rem;
    color: #475569;
    max-width: 500px;
    margin-bottom: 2.5rem;
}


.about {
    color: #475569;
    max-width: 500px;
    margin-bottom: 2.5rem;
    padding: 120px 60px;
}

.about-container p {
    font-size: 1.125rem;
    color: #475569;
    max-width: 500px;
    margin-bottom: 2.5rem;
}

.about_text {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.8;
    opacity: 0.9;
    margin-bottom: 60px;
}

.about-card {
    position: absolute;
    width: 100%;
    max-width: 550px;
    aspect-ratio: 4 / 5;
    background-color: #e2e8f0; 
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
}

.section-label{
    font-size: 24px;
    letter-spacing: 2px;
    color: #4f46e5;
    text-transform: uppercase;
}

.image-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-card {
    position: relative;
    width: 100%;
    max-width: 550px;
    aspect-ratio: 4 / 5;
    background-color: #e2e8f0; 
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cta {
    display: inline-block;
    background-color: #4f46e5;
    color: #ffffff;
    padding: 1rem 2.5rem;
    border-radius: 0.75rem;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
}

.cta:hover {
    background-color: #4338ca;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.4);
}


.shape {
    position: absolute;
    filter: blur(80px);
    z-index: -1;
    opacity: 0.4;
}

.glow-1 { top: 10%; right: 15%; width: 300px; height: 300px; background: #c7d2fe; }
.glow-2 { bottom: 10%; left: 10%; width: 400px; height: 400px; background: #f1f5f9; }