body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
  }
  
  .logo {
    font-weight: bold;
    color: #7A6248;
  }
  
  .navbar a {
    margin-left: 30px;
    text-decoration: none;
    color: #7A6248;
    font-weight: bold;
  }
  
  .navbar a.active {
    text-decoration: underline;
  }
  
  /* HERO */
  .hero {
    padding: 40px 80px;
  }
  
  /* TITLE */
  .hero h1 {
    text-align: center;
    color: #7A6248;
    font-size: 42px;
    margin-bottom: 70px;
  }
  
  /* CONTENT */
  .content {
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .content img {
    width: 350px;
  }
  
  /* TEXT */
  .text h2 {
    color: #7A6248;
  }
  
  .text p {
    color: #8F8478;
    line-height: 1.6;
  }
  
  .text span {
    display: block;
    margin-top: 15px;
    text-align: right;
    font-weight: bold;
    color: #7A6248;
  }
  
  /* SCROLL */
  .scroll {
    text-align: center;
    margin-top: 80px;
    font-size: 12px;
    color: #B5A999;
  }