@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: purple;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: purple;
    border-bottom: 3px solid purple;
}

#menu-icon {
    font-size: 3.6rem;
    color: white;
    display: none;
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem; 
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    text-align: center;
    max-width: 800px; 
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: purple;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid purple;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 1.5rem; 
    transition: 0.3s ease;
    color: purple;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: purple;
    box-shadow: 0 0 25px purple;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: purple;
    box-shadow: 0 0 25px purple;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid purple;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03, 1.03, 1.03);
    background-color: purple;
    color: black;
    box-shadow: 0 0 25px purple;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "Software Developer";
    color: purple;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8px;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid purple;
    }
}

@keyframes words {
    0%, 20% { content: "Web Developer"; }
    21%, 40% { content: "Software Developer"; }
    41%, 60% { content: "Web Designer"; }
    61%, 80% { content: "Hacker"; }
    81%, 100% { content: "Student"; }
}

@media (max-width: 995px) {
    header {
        padding: 2rem 4%;
    }
    
    section {
        padding: 10rem 4% 2rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content h3 {
        font-size: 3rem;
    }
    
    #menu-icon {
        display: block; 
    }
    
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem;
        background-color: #161616;
        border-left: 2px solid purple;
        border-bottom: 2px solid purple;
        border-bottom-left-radius: 2rem;
        display: none; 
    }

    nav.active {
        display: block; 
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    
    nav {
        width: 100%;
    }
}